@font-face {
  font-family: "Retro7";
  src: url("Retro7.eot"); /* IE9 */
  src: url("Retro7.eot?#iefix") format("embedded-opentype"),
    url("Retro7.woff") format("woff") /* IE6-IE8 */,
    url("Retro7.woff2") format("woff2") /* Modern Browsers */,
    url("Retro7.ttf") format("truetype"); /* iOS, Android */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
